	<div class="span9" style="margin:auto">

 		<div class="nav-bar">
        	<div class="nav-bar-inner">
 
            	<span class="element">Sync. systems 2013</span>
            		<ul class="menu" style="float:right">
                        <li><%= link_to "Login", :controller => :sessions, :action => :new %></li>
                        <li class="divider"></li>
                		<li><a href=#>Contacts</a></li>
                		<li class="divider"></li>
                		<li><a href=#>Download</a></li>
            		</ul>
        </div>
    	</div>